@import url("https://rsms.me/inter/inter-ui.css");

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  text-align: center;
  color: #000000;
}

.titan-background {
  position: absolute;
  width: 100%;
  background-image: radial-gradient(circle, #CFEDF5, #85D6DA, #0DB7BC, #007B80, #026165);
  overflow: hidden;
  z-index: 1;
  top: -10%;
  height: 120%;
  min-height: 120vh;
  margin-bottom: -20%;
}

.stars {
  position: absolute;
  top: 0;
  width: 300vw;
  height: 100vh;
  transform: translate(0%, 0%);
  background-size: contain;
  background-repeat: repeat;
  transform-origin: top left;
}

.stars-L {
  background-image: url("assets/stars-L.svg");
  background-size: 890px;
  height: 750px;
  animation: panning-stars 200s linear infinite alternate;
}

.stars-M {
  background-image: url("assets/stars-M.svg");
  height: 530px;
  animation: panning-stars 300s linear infinite alternate;
}

.stars-S {
  background-image: url("assets/stars-S.svg");
  height: 370px;
  animation: panning-stars 400s linear infinite alternate;
}

@keyframes panning-stars {
  from {
    transform: translate(-20%, 0%);
  }
  to {
    transform: translate(-80%, -40%);
  }
}

.lotus-container {
  position: relative;
  z-index: 2;
  padding: 104px 0 24px 0;
  width: 95%;
  max-width: 600px;
  margin: auto;
}

h1 {
  display: block;
  font-size: 80px;
  margin: 0 0 24px 0;
  font-family: "EB Garamond", serif;
  font-size: 73.2279px;
  font-weight: 500;
  color: rgb(252, 244, 207);
  word-spacing: 0px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 16vw;
  }
}

h2 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 24px;
  color: rgb(252, 244, 207);
  text-shadow: 0 0 8px rgba(148, 92, 0, 0.9), 0 1px 2px rgba(148, 92, 0, 0.9);
}

h3 {
  font-weight: 300;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.first-title {
  letter-spacing: -6.7px;
  text-transform: uppercase;
  padding: 13px 36px;
  background: linear-gradient(to bottom,#CC6C00,#F18600, #FFAA11);
  border-radius: 0 60px;
}

.second-title {
  position: relative;
  display: inline-block;
  letter-spacing: -4.5px;
  text-transform: uppercase;
  padding: 10px 30px;
  border-top: 8px solid #CC6C00;
  border-bottom: 8px solid #FFAA11;
  line-height: 1;
  border-radius: 55px 0px 55px;
  margin-top: 20px;
}

code {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding: 16px 24px;
  background: rgba(44, 37, 44, 0.8);
  border: 1px solid #7f797f;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header {
  margin-bottom: 104px;
}

.installation-instructions,
.usage-instructions {
  margin-top: 64px;
}

.footer {
  margin-top: 224px;
}

.footer img {
  height: 104px;
  width: auto;
}

.image img {
  max-height:100%; max-width:100%;
}

